$themes: (
  light: (
    appBackground: #fafbfc,
    appBoxCardBackground: #ffffff,
    cardTextcolor: black,
    toggleBackground: #dfe4ea,
    cardBorder: 1px solid #e9e9e9,
    button-primary-action: linear-gradient(90deg, #ff7028, #ff7028),
    exchange-swap-section: linear-gradient(90deg, #ffffff 0%, #ffffff 100%),
    Exchange-swap-ball: linear-gradient(90deg, rgba(255, 112, 40, 1) 0%, rgba(255, 112, 40, 1) 100%),
    Checkbox-icon: rgba(255, 112, 40, 1),
    rc-slider-rail: linear-gradient(90deg, rgba(90, 90, 90, 1) 0%, rgba(90, 90, 90, 1) 100%),
    rc-slider-track: linear-gradient(90deg, rgba(255, 112, 40, 1) 0%, rgba(255, 112, 40, 1) 100%),
    rc-slider-dot: rgba(220, 220, 220, 1),
    rc-slider-dot-active: #ff7028,
    rc-slider-handle: #ffffff,
    rc-slider-handle-border: solid 2px rgba(255, 112, 40, 1),
    chart-token-selector--current: black,
    Tab-option-active: linear-gradient(90deg, rgba(225, 226, 229, 1) 0%, rgba(225, 226, 229, 1) 100%),
    Tab-option-active-color: rgba(22, 22, 22, 1),
    Tab-block: linear-gradient(90deg, rgba(238, 238, 240, 1) 0%, rgba(238, 238, 240, 1) 100%),
    Tab-block-color: rgba(22, 22, 22, 0.7),
    Exchange-trigger-order-info: rgba(22, 22, 22, 0.7),
    Exchange-trigger-order-info-border: 1px solid #e9e9e9,
    network-dropdown: #fafbfc,
    network-dropdown-text: rgba(22, 22, 22, 1),
    button-semi-clear: rgba(255, 112, 40, 1),
    App-card-divider: rgba(234, 234, 234, 1),
    footerBorder: 1px solid #e9e9e9,
    headerText: black,
    headerTextActive: rgba(255, 112, 40, 1),
    connect-wallet-btn: 1px solid #e9e9e9,
    default-btn: rgba(255, 112, 40, 1),
    connect-modal-background: #fafbfc,
    connect-modal-wrapper: #f7f7fa,
    Wallet-btn-approve: white,
    Circular-digit: 2px solid rgba(255, 112, 40, 1),
    menu-item-hover: rgba(255, 112, 40, 1),
    menu-item-hover-text: white,
    pay-modal-boder: 1px solid #e9e9e9,
  ),
  dark: (
    appBackground: #000000,
    appBoxCardBackground: #16182e,
    cardTextcolor: white,
    toggleBackground: #606071,
    cardBorder: 1px solid #1e2136,
    button-primary-action: linear-gradient(90deg, #2d42fc, #2e3dcd),
    exchange-swap-section: linear-gradient(90deg, rgba(30, 34, 61, 0.9) 0%, rgba(38, 43, 71, 0.9) 100%),
    Exchange-swap-ball: linear-gradient(90deg, rgba(45, 66, 252, 1) 0%, rgba(46, 61, 205, 1) 100%),
    Checkbox-icon: rgba(61, 81, 255, 1),
    rc-slider-rail: linear-gradient(90deg, rgba(30, 34, 61, 1) 0%, rgba(40, 45, 74, 1) 100%),
    rc-slider-track: linear-gradient(90deg, rgba(46, 61, 205, 1) 0%, rgba(45, 66, 252, 1) 100%),
    rc-slider-dot: rgba(40, 45, 74, 1),
    rc-slider-dot-active: #3d51ff,
    rc-slider-handle: #303652,
    rc-slider-handle-border: solid 2px rgba(45, 66, 252, 1),
    chart-token-selector--current: white,
    Tab-option-active: linear-gradient(90deg, rgba(45, 66, 252, 1) 0%, rgba(46, 61, 205, 1) 100%),
    Tab-option-active-color: rgba(255, 255, 255, 1),
    Tab-block: linear-gradient(90deg, rgba(30, 34, 61, 0.9) 0%, rgba(38, 43, 71, 0.9) 100%),
    Tab-block-color: rgba(255, 255, 255, 0.7),
    Exchange-trigger-order-info: rgba(255, 255, 255, 0.7),
    Exchange-trigger-order-info-border: 1px solid #23263b,
    network-dropdown: #1e1e1e,
    network-dropdown-text: #a0a3c4,
    button-semi-clear: rgb(43, 55, 94),
    App-card-divider: #23263b,
    footerBorder: 1px solid #282b4c,
    headerText: #a0a3c4,
    headerTextActive: white,
    connect-wallet-btn: 1px solid var(--dark-blue-border),
    default-btn: #14f187,
    connect-modal-background: #141414,
    connect-modal-wrapper: #1a1a1a,
    Wallet-btn-approve: rgba(45, 45, 45, 0.5),
    Circular-digit: 2px solid green,
    menu-item-hover: #808aff14,
    menu-item-hover-text: #eee,
    pay-modal-boder: 1px solid #ffffff29,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}
